---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Github from '../components/icos/Github.astro';
import Instagram from '../components/icos/Instagram.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-2">
			<h1 class="text-white text-5xl font-bold flex-row gap-x-4 pb-14">
				Hey, soy santiago <div class=" flex justify-center items-center ">
					<a href="//insta" class="flex justify-center items-center" target="_blank" rel="noooo">
					</a>
					<Badge>CV</Badge></div>
			</h1>
			<h2 class="text-2xl opacity-80 text-wrap"><samp>1 ano de experiencia </samp>
				<samp class="opacity-80 text-red-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ipsam cum earum, minima inventore, eum eos corrupti tempore quos veniam eius, molestiae blanditiis. Iure quasi modi odio? Laudantium</samp>, architecto debitis?
			</h2>
			<ul>
				<li>
					<a href="https://github.com/Sanchez-Santiago">
						<Github class="w-6 h-6"></Github>
						Github
					</a>
					<a href="https://www.instagram.com/chia.almacennatural_">
					<Instagram class="w-6 h-6"/></Instagram>
						Instagram
					</a>

				</li>
			</ul>
		</section>
	</main>

</Layout>


</style>
