---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-2">
			<h1 class="text-white text-5xl font-bold justify-center flex-row">
				Hey, soy santiago <div class=" justify "><Badge>CV</Badge></div>
			</h1>
			<h2>1 ano de experiencia 
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ipsam cum earum, minima inventore, eum eos corrupti tempore quos veniam eius, molestiae blanditiis. Iure quasi modi odio? Laudantium, architecto debitis?</h2>
		</section>
	</main>

</Layout>


</style>
